<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Page</title>
</head>
<body>
<h1>회원가입</h1>

<form name="InsertForm" method="post" action="/member/insertProc">
    <fieldset>
    아이디 :<input type="text" name="username"><br>
    비밀번호 :<input type="password" name="password"><br>
    비밀번호 확인 :<input type="password" name="passwordChk"><br>
    이름 : <input type="text" name="name"><br>
    주민번호 :<input type="text" name="ssn"><br>
    전화번호 :<input type="text" name="phone"><br>
    이메일 :<input type="text" name="email"><br>
    주소1 :<input type="text" name="address1"><br>
    주소2 :<input type="text" name="address2"><br>
    주소3 :<input type="text" name="address3"><br>
    주소4 :<input type="text" name="address4"><br>
    등급 :<input type="radio" name="grade" value="일반회원" checked>일반회원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="grade" value="관리자">관리자<br>
    <button type="submit">회원가입</button>
        <button type="button" th:onclick="|location.href='@{/member/list}'|">목록</button>
    </fieldset>
</form>
</body>
</html>