<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Page</title>
</head>
<body>
<form name="DeleteForm" method="post" action="/guestBook/deleteProc">
    <fieldset>
        <legend>방명록 삭제</legend>
        <input type="hidden" name="id" th:value="${guestBook.id}"><br>
        이름 : <span th:text="${guestBook.name}"></span><br>
        내용 : <span th:text="${guestBook.content}"></span><br>

        <button type="submit">방명록 삭제</button>
        <button type="button" th:onclick="|location.href='@{/guestBook/list}'|">목록</button>
    </fieldset>
</form>
</body>
</html>

